$background-color: rgb(22, 28, 37); // Hintergrundfarbe des Body
$primary-text-color: black;         // Textfarbe für Links und h3, h4
$blue-color: #021b9f;               // Blau für #blue-link, #blue-p und span
$container-color: rgb(115, 200, 248); // Helles Blau für li-Elemente
$heading-color: white;